.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    background-image: linear-gradient(to bottom, #aec3d9, #ffffff);
    overflow-x: hidden;
    transition: 0.5s;

}

.sidebar a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    display: block;
    transition: 0.3s;
    min-width: 150px;


}

.sidebar a:hover {
    color: #0a53be;
    font-weight: bold;
    background-color: #f1f1f1;
    border-left: #0a53be 5px solid;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(234, 236, 239, 0.49);
    color: #000000;
    /*padding: 10px 15px;*/
    border: none;
}

.openbtn:hover {
    background-color: #ccdbea;
}

#app {
    transition: margin-left .5s;
    
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav */
@media screen and (max-height: 450px) {
    .sidebar a {font-size: 12px;}
}

#mySidebar {
    top: 80px;
    bottom: 80px;
}

.dropdown-menu-custom{
    background-color: transparent;
    border: 0px;
}
.dropdown-menu-custom li a {
    color: #184b07;
    font-size: 13px;
    margin-left: 20px;
}
